<div class="topnav">
    <img src="/assets/logo.PNG" class="logo-image">
    <a class="active" href="/home" style="margin-left: 10px">Home</a>
    <a href="/connections">Connections</a>
    <a class="logout" href="/logOut" style="float:right">Log Out</a>
    <a style="float:right; margin-right: 10px; font-weight: bold" href="/profile">Your Profile</a>
</div>