<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Register</title>
</head>

<!--Default style-->
<link rel="stylesheet" type="text/css" href="/styles/styles.css">

<script>
    function roleChange(element) {
        var userType = element.value;
        var resumeFields = document.getElementById('resumeFields');
        var professorFields = document.getElementById('professorFields');
        var orgWebsiteFields = document.getElementById('orgWebsiteField');
        var orgDescriptionFields = document.getElementById('orgDescriptionField');
        var orgRecruitField= document.getElementById('orgRecruitField');
        var interestsField = document.getElementById('interestsField');

        resumeFields.style.display = 'none';
        professorFields.style.display = 'none';
        orgWebsiteFields.style.display = 'none';
        orgDescriptionFields.style.display = 'none';
        orgRecruitField.style.display = 'none';
        interestsField.style.display = 'none';

        if (userType === 'Student') {
            resumeFields.style.display = 'block';
            interestsField.style.display = 'block';
            //document.getElementById('resume').required = true;
            //document.getElementById('interests').required = true;
            document.getElementById('orgWebsite').required = false;
            document.getElementById('orgDescription').required = false;
            document.getElementById('lookingForAssistants').required = false;
            document.getElementById('recruitStudents').required = false;
        } else if (userType === 'Professor') {
            resumeFields.style.display = 'block';
            professorFields.style.display = 'block';
            //document.getElementById('resume').required = true;
            //document.getElementById('interests').required = false;
            document.getElementById('orgWebsite').required = false;
            document.getElementById('orgDescription').required = false;
            document.getElementById('lookingForAssistants').required = true;
            document.getElementById('recruitStudents').required = false;
        } else if (userType === 'Organization') {
            orgWebsiteFields.style.display = 'block';
            orgDescriptionFields.style.display = 'block';
            orgRecruitField.style.display = 'block';
            //document.getElementById('resume').required = false;
            //document.getElementById('interests').required = false;
            document.getElementById('orgWebsite').required = true;
            document.getElementById('orgDescription').required = true;
            document.getElementById('lookingForAssistants').required = false;
            document.getElementById('recruitStudents').required = true;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Code to run when the document is loaded
        var passwordInput = document.getElementById('password');
        var confirmPasswordGroup = document.getElementById('confirmPasswordGroup');

        var orgWebsiteFields = document.getElementById('orgWebsiteField');
        var orgDescriptionFields = document.getElementById('orgDescriptionField');
        var orgRecruitField= document.getElementById('orgRecruitField');
        orgWebsiteFields.style.display = 'none';
        orgDescriptionFields.style.display = 'none';
        orgRecruitField.style.display = 'none';

        if (passwordInput && confirmPasswordGroup) {
            passwordInput.addEventListener('input', function () {
                if (passwordInput.value.trim() !== '') {
                    confirmPasswordGroup.style.display = 'block';
                } else {
                    confirmPasswordGroup.style.display = 'none';
                }
            });

            var confirmPasswordInput = document.getElementById('confirmPassword');
            confirmPasswordInput.addEventListener('input', function () {
                var password = passwordInput.value;
                var confirmPassword = confirmPasswordInput.value;

                if (password === confirmPassword) {
                    confirmPasswordInput.setCustomValidity('');
                } else {
                    confirmPasswordInput.setCustomValidity('Passwords do not match');
                }
            });
        }

        var interestsTextarea = document.getElementById('interests');
        var interestsAddButton = document.getElementById('interestsAddButton');
        var interestsList = document.getElementById('interestsList');
        var hiddenInterestsContainer = document.getElementById('hiddenInterests');

        interestsAddButton.addEventListener('click', function () {
            var newInterest = interestsTextarea.value.trim();
            document.getElementById('error-message').textContent = '';

            if (newInterest !== '' && !isInterestAlreadyAdded(newInterest)) {
                var interestItem = document.createElement('li');
                interestItem.innerHTML = '<span>' + newInterest + '</span><button type="button" class="btn btn-sm btn-danger ml-2 mb-2" onclick="removeInterest(this)">X</button>';
                interestsList.appendChild(interestItem);
                console.log(newInterest);

                hiddenInterestsContainer.value = hiddenInterestsContainer.value + newInterest + ',';

                interestsTextarea.value = '';
            }
        });

        function isInterestAlreadyAdded(interest) {
            var existingInterests = interestsList.getElementsByTagName('span');

            for (var i = 0; i < existingInterests.length; i++) {
                if (existingInterests[i].textContent.toLowerCase() === interest.toLowerCase()) {
                    alert('Interest already added.');
                    return true;
                }
            }

            return false;
        }

        // Add an event listener for form submission
        var registrationForm = document.getElementById('registrationForm');
        registrationForm.addEventListener('submit', function (event) {
            var userType = document.getElementById('userType').value;

            // Check if the user type is Student and at least one interest is entered
            if (userType === 'Student' && interestsList.children.length === 0) {
                event.preventDefault(); // Prevent form submission
                document.getElementById('error-message').textContent = 'Please enter at least one interest.';
            } else {
                document.body.style.cursor = 'wait';
            }
        });
    });

    function removeInterest(button) {
        var interestItem = button.parentNode;
        var interestText = interestItem.querySelector('span').textContent;

        // Remove from hidden input
        var hiddenInterestsInput = document.getElementById('hiddenInterests');
        hiddenInterestsInput.value = hiddenInterestsInput.value.replace(interestText + ',', '');

        interestItem.parentNode.removeChild(interestItem);
    }
</script>

<body>
    <div class="container">
        <br>
        <h1>Registration Form</h1>
        <br>
        <form action="/createAccount" method="post" enctype="multipart/form-data" id="registrationForm">
            <div class="form-group" style="display: none">
                <input type="text" name="interests" class="form-control" id="hiddenInterests" readonly>
            </div>
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" class="form-control" id="firstname" name="firstname" required>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" class="form-control" id="lastname" name="lastname" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="username" class="form-control" id="username" name="username" required>
            </div>
            <% if (err) {%>
                <label id="usernameErrorLabel" style="color: red; margin-left: 10px;"><%= err %></label>
            <%}%>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group" id="confirmPasswordGroup" style="display: none;">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="form-group">
                <label for="userType">Register as:</label>
                <select class="form-control" id="userType" name="userType" onchange="roleChange(this)" required>
                    <option value=""></option>
                    <option value="Student">Student</option>
                    <option value="Professor">Professor</option>
                    <option value="Organization">Organization</option>
                </select>
            </div>
            <div class="form-group" id="orgWebsiteField">
                <label for="orgWebsite">Organization Website:</label>
                <input type="text" class="form-control" id="orgWebsite" name="orgWebsite">
            </div>
            <div class="form-group" id="orgDescriptionField">
                <label for="orgDescription">Brief Description:</label>
                <textarea class="form-control" id="orgDescription" name="orgDescription" rows="4"></textarea>
            </div>
            <div class="form-group" id="orgRecruitField">
                <label for="recruitStudents">Looking to Recruit Students:</label>
                <select class="form-control" id="recruitStudents" name="recruitStudents">
                    <option value=""></option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div id="resumeFields" style="display: none;">
                <div class="form-group">
                    <label for="resume">Upload Resume:</label>
                    <input type="file" class="form-control" id="resume" name="resume" accept=".pdf, .doc, .docx">
                </div>
            </div>
            <div id="professorFields" style="display: none;">
                <div class="form-group">
                    <label for="lookingForAssistants">Looking for Research Assistants:</label>
                    <select class="form-control" id="lookingForAssistants" name="lookingForAssistants">
                        <option value=""></option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="interestsField" style="display: none;">
                <label for="interests">Interests:</label>
                <div class="input-group">
                    <textarea class="form-control" id="interests" style="height: 100%; resize: none;"></textarea>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-success" id="interestsAddButton">Add</button>
                    </div>
                </div>
                <ul id="interestsList" class="list-unstyled mt-2"></ul>
            </div>
            <br>
            <hr style="border-top: 1px dotted black; width: 100%;">
            <div id="error-message" style="color: red;"></div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</body>
</html>
